<?xml version="1.0" encoding="utf-8"?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogLevel="warning"
  internalLogFile="${basedir}\Log\nlog-internal.txt">
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    <!-- write logs to file  -->
    <target xsi:type="File" name="allFile" fileName="${basedir}\Log\nlog-all-${shortdate}.log"
      layout="${longdate}[${aspnet-TraceIdentifier:ignoreActivityId=true}][${uppercase:${level}}] ${logger}|${message} ${exception}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="appFile" fileName="${basedir}\Log\nlog-app-${shortdate}.log"
      layout="${longdate}[${aspnet-TraceIdentifier:ignoreActivityId=true}][${uppercase:${level}}] ${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url:IncludeQueryString=true}|action: ${aspnet-mvc-action}" />
    
    <!-- Database log-->
    <target type="Database" name="logDB">
      <connectionString>${configsetting:item=ConnectionStrings.DefaultConnection}</connectionString>
      <commandType>StoredProcedure</commandType>
      <commandText>[dbo].[LogRequestEvent]</commandText>
      <parameter name="@traceIdentity"  layout="${aspnet-TraceIdentifier:ignoreActivityId=true}" />
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@siteName"       layout="${iis-site-name}" />
      <parameter name="@logged"         layout="${date:universalTime=true}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@url"            layout="${aspnet-request-url:IncludeQueryString=true}" />
      <parameter name="@method"         layout="${aspnet-request-method}" />
      <parameter name="@referrer"       layout="${aspnet-request-referrer}" />
      <parameter name="@remoteAddress"  layout="${when:when='${aspnet-request:header=X-Forwarded-For}' == '':inner=${aspnet-request-ip}:else=${aspnet-request:header=X-Forwarded-For}}" />
      <parameter name="@userIdentity"   layout="${aspnet-user-identity}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@properties"     layout="${all-event-properties}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@callSite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>
  </targets>
  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allFile" />-->
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" maxlevel="Info" final="true" />-->
    <!-- BlackHole without writeTo -->
    <!--<logger name="*" minlevel="Trace" writeTo="appFile" />-->
    <logger name="*" minlevel="Info" writeTo="logDB" />
  </rules>
</nlog>